.hero-section{
    background-image: url(../images/backgrounds/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading{
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 290px;
    border-radius:  5px;
}

.hero-section > .bottom-heading{
    padding: 1px 20px;
    background-color: #cea135;
    color: #cbcbcb;
    margin-top: 15px;
    width: 107px;
    border-radius:  5px;
}

/* feature section style */
.feature-section{
    height: 400px;
    background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.feature-section > .column-wrapper {
    width: 1000 px;
    display: flex;
    justify-content: space-between;
}

.column{
    padding: 20px;
    margin: 45px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

